form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 12px;
  padding: 8px 16px;

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .input-value {
      margin-left: 12px;
    }
  }

  button {
    border-radius: 8px;
    border: none;
    padding: 4px 8px;
    width: 5rem;
    margin-left: 3.5rem;

    &:hover {
      cursor: pointer;
      background-color: gainsboro;
      color: black;
      transition: 0.3s;
    }
  }
}
